<!doctype html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <title>Peace, Love and Pixels.</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="shortcut icon" href="/favicon.ico">

        <!--link here-->
        <link rel="stylesheet" href="styles/main.css">

    </head>
    <body>

        <div class="container">

            <div class="header">Peace, Love and Pixels.</div>

            <div id="stage" class="stage"></div>

            <div class="footer">
                <p><a href="https://github.com/adjavaherian/generator-peace">Spread Peace...</a></p>
            </div>
        </div>

        <!--link here-->
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js" type="application/javascript"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/three.js/r68/three.js" type="application/javascript"></script>

        <script src="scripts/main.js"></script>

    </body>
</html>
